@charset "UTF-8";

/*Todas as demais mídias PÁGINA HOME/INDEX*/

@media (min-width: 450px) {
    div.item-lista {
        width: 45%;
    }
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 992px) {
    nav#menu-principal > a {
        font-size: 1.2em;
    }

    div.item-lista {
        width: 40%;
    }

    section.links-sociais {
        width: 30%;
    }
}

@media (min-width: 1024px) {
    div.coluna1 {
        display: block;
        width: 50%;
        height: 100vh;
    }

    div.coluna2 {
        display: block;
        width: 50%;
        height: 100vh;
        color: aquamarine;
        background-image: url(../imagens/agata-cruz-tam-desktop.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    div.foto-principal > img {
        display: none;
    }

    header {
        display: none;
    }

    div.fake-header {
        width: 100%;
        margin-top: 15px;
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
    }

    div.texto-principal {
        display: block;
        margin: auto;
        margin-top: 100px;
    }

    div.logo-principal {
        margin-left: 25px;
    }

    nav#menu-principal {
        margin-top: 26px;
        border-bottom: none;
    }

    nav#menu-principal > a {
        font-size: 1.2em;
        font-weight: 400;
    }

    main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    main.coluna1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    div.texto-principal {
        width: 500px;
    }

    main.coluna2 > img {
        align-items: end;
    }

    div#item-lista-about-id {
        display: none;
    }

    section.lista-itens {
        width: 70%;
        margin: auto;
        margin-top: 100px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    section.links-sociais {
        width: 30%;
    }
}