@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500&display=swap');

/*Mobile First PÃGINA HOME/INDEX*/

* {
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.logo-principal {
    margin-bottom: 20px;
}

div.logo-principal> a > img {
    display: block;
    margin: auto;
    margin-top: 30px;
    width: 80px;
}

nav {
    width: 280px;
}

nav#menu-principal {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

nav#menu-principal > a {
    text-decoration: none;
    color: black;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
}

nav#menu-principal > a:hover {
    text-decoration: overline;
}

div.foto-principal {
    margin-top: 20px;
}

div.foto-principal > img {
    display: block;
    margin: auto;
    width: 300px;
    position: relative;
}

div.texto-principal {
    position: absolute;
    top: 360px;
    left: 150px;
    transform: rotate(-90deg);
}

div.texto-principal > span {
    font-size: 1.5em;
    color: white;
}

div.texto-principal > span.nome {
    font-size: 2.7em;
    font-weight: 500;
}