@charset "UTf-8";

/*Todas as demais mídias PÁGINA TRABALHOS*/

@media (min-width: 700px) {
    .portfolio-item {
        margin-top: 100px;
        margin-bottom: 150px;
    }

    .portfolio-item > h3 {
        font-size: 2.5em;
        font-weight: 500;
    }

    .links-item-portfolio > a {
        font-size: 1.7em;
    }

    section.links-sociais {
        width: 25%;

    div#instagram-id {
        width: 40px;
        height: 40px;
    }
    
    div#linkedin-id {
        width: 40px;
        height: 40px;
    }
    
    div#email-id {
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 1024px) {
    .portfolio-item {
        display: flex;
    }

    .item-foto-links {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .portfolio-item .links-item-portfolio {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 0.8em;
        margin-top: 15px;
    }

    .portfolio-item > h3 {
        height: 100px;
        width: 700px;
        font-size: 2em;
        transform: rotate(-90deg);
    }

    .portfolio-item > img {
        display: none;
    }

    .desktop-img {
        display: block;
        width: 75%;
        transition: .5s;
    }

    .desktop-img:hover {
        transform: scale(1.2);
        
    }

    section.links-sociais {
        width: 15%;
        margin-top: 110px;
        margin-bottom: 50px;
}