@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500&display=swap');

/*Mobile First PÃGINA TRABALHOS*/

* {
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
}

div.logo-principal {
    margin-bottom: 20px;
}

div.logo-principal> a > img {
    display: block;
    margin: auto;
    margin-top: 30px;
    width: 80px;
}

nav {
    width: 280px;
}

nav#menu-principal {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

nav#menu-principal > a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: 500;
    cursor: pointer;
}

nav#menu-principal > a:hover {
    text-decoration: overline;
}



section.links-sociais {
    width: 50%;
    margin: auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5px;
}

div#instagram-id {
    width: 40px;
    height: 40px;
    background-image: url(../imagens/icon-instagram.png);
    background-size: cover;
}

div#linkedin-id {
    width: 40px;
    height: 40px;
    background-image: url(../imagens/icon-linkedin.png);
    background-size: cover;
}

div#email-id {
    width: 40px;
    height: 40px;
    background-image: url(../imagens/icon-e-mail.png);
    background-size: cover;
}